<% layout('layouts/boilerplate') %>

    <body>

        <h1>Campgrounds</h1>
        <ul>
            <% campgrounds.forEach(campground=> { %>
                <li>
                    <a href="/Campgrounds/<%= campground._id %>">
                        <%= campground.name %>
                    </a>
                </li>
                <% }); %>
        </ul>
    </body>