<% layout('layouts/boilerplate') %>



    <h1>New Campground</h1>
    <form action="/Campgrounds" method="POST">
        <label for="name">Name</label>
        <input type="text" name="campground[name]" id="name">
        <label for="location">Location</label>
        <input type="text" name="campground[location]" id="location">
        <button type="submit">Submit</button>
    </form>